<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="fa-solid fa-school me-2"></i>Students</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item ms-2">
          <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
        </li>
        <li class="nav-item ms-2">
          <a class="nav-link active" aria-current="page" href="#">About</a>
        </li>

        <li class="nav-item">
          <button routerLink="/message" class="btn btn-outline-dark ms-2 me-2" type="submit"><i
              class="fa-solid fa-message me-1"></i>Messages<span class="badge bg-white text-dark ms-1">0</span></button>
          </li>
          <li>
            <button routerLink="/notes" class="btn btn-outline-dark ms-2 me-2" type="submit">Notes</button>
          </li>
          <li>   
          <button routerLink="/login" class="btn btn-outline-dark ms-2 me-2" type="submit"><i
              class="fa-solid fa-user me-1"></i>Login</button>
        </li>
      </ul>
    </div>
  </div>
</nav>